.show {
	display: flex;
	justify-content: flex-start;
	padding: 10px;

	.image {
		width: 80px;
		margin: 5px 20px;
		box-shadow: 5px 5px 5px #c1c1c1;
	}

	.title {
		margin: 0 auto;
		font-size: 17px;
	}

	.release-date {
		font-size: 15px;
		color: #696969;
		margin: 0;
	}

	.season-episode-info {
		display: inline-block;
		background: #ececec;
		color: grey;
		padding: 10px 15px;
		font-size: 15px
	}
	.big-img {
		width: 270px;
		height: 430px;
		position: fixed;
		left: 50%;
		margin-left: -135px;
		top: 50%;
		margin-top: -215px;
	}
}