.home {

	.main-home-div {
		margin: 60px auto;
		width: 70%;

		.tv-icon {
			width: 170px;
			height: auto;
		}

		.info-text {
			font-size: 16px;
		}
	}

	.calendar {
			position: relative;
			bottom: 0;
			width: 100%; 
		}
}