$icon-width: 20px;
$header-height: 70px;

.header {
	position: fixed;
	top: 0;
	height: $header-height;
	width: 100%;
	background: #ececec;
	text-align: center;
	
	.back-icon {
		position: absolute;
		height: 100%;
	    width: $icon-width;
	    padding: 0 10px;
	    left: 10px;
	}

	.logo {
		font-size: 17px;
		margin: 0;
		vertical-align: middle;
		line-height: $header-height; 
	}

	.offset {
		margin-right: $icon-width;
	}
}

