$icon-width: 20px;
$header-height: 70px;

.header {
	height: $header-height;
	width: 100%;
	background: #ececec;
	text-align: center;
	
	.back-icon {
		height: 100%;
	    width: $icon-width;
	    padding: 0 10px;
	    float: left;
	}

	.logo {
		font-size: 17px;
		margin: 0 $icon-width 0 0;
		vertical-align: middle;
		line-height: $header-height; 
	}
}

